#main {
  /* variables */
  --content-background: hsl(209, 0%, 95%);
  --contrast-background: hsl(189, 46%, 90%);
  
  margin: 10px;
  background-color: var(--content-background, gray);
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--contrast-background, gray);
  border-radius: 10px;
}

h1 {
  margin-top: 10px;
}

#title {
  text-align: center;
  padding: 10px;
  font-family: Arial, Helvetica, sans-       serif;
}

main {
  background-color: var(--content-background, gray);
}

#main-content {
  max-width: 600px;
  margin: auto;
  font-family: Arial, Helvetica, sans-       serif;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: var(--contrast-background, gray);
  border-radius: 10px;
}

#footer-content {
  margin: auto;
  max-width: 800px;
  text-align: center;
  font-family: Arial, Helvetica, sans-       serif;
}

.text-content {
  text-align: justify;
  font-family: Arial, Helvetica, sans-       serif;
}

li {
  margin-top: 10px;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

time {
  font-weight: bold;
}

#image-label {
  text-align: center;
  font-size: 15px;
}

#tribute-link:hover {
  color: hsl(220, 88%, 60%);
}

#tribute-link {
  color: hsl(220, 57%, 42%);
}